<h2><%= l(:label_template_new) %></h2>

<%= labelled_form_for @wiki_template, :url => {:action => 'new', :project_id => @project.id}, :html => {:multipart => false} do |f| %>
<%= render :partial => 'form', :locals => {:f => f} %>
<%= submit_tag l(:button_create) %>
<% end %>
